# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*_gen.go

# Folders
_obj
_test
release

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.pprof
*.db

bin
static
statik/statik.go

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Goland & .vcscode
*.vscode
.idea

.env.*
fixtures/app.env

.DS_Store